Configuration file for InfoSpeak environment - ABS assignment 2 2011/12

Only lines starting with "!" will be taken into account by the parser
Please respect the given format for the simulation to work
When specifiying an agent name, please remember to write it as:
 if there is only one agent of that type: the type specified in the .mas2j file (eg studiousStudent)
 if there is more than one agent of that type: the type specified in the .mas2j file + its number (eg carefreeStudent2)
Days should be specified with an uppercase letter (eg Monday, Tuesday,etc.)



-Length and width of simulated environment:
-Format: gridsize
!gs 15

-Real length of time for a simulated hour (in ms)
-Format: length
!hl 3000

-Amount of time in between agent actions (in ms)
-Format: length
!sl 50

-Buildings:
-Format: name: type, building number, x,y location
!bp lt1:LT,1,13,5
!bp lt2:LT,2,11,11
!bp lt3:LT,3,4,4
!bp b1:BAR,1,10,1
!bp lib1:LIB,1,5,11
!bp frum1:FOR,1,9,3
!bp lab1:LAB,1,6,0
!bp rest1:REST,1,1,9
!bp o1:OUT,0,0,14
!bp o2:OUT,1,1,14
!bp o3:OUT,2,2,14
!bp o4:OUT,3,3,14
!bp o5:OUT,4,4,14
!bp parc1:PARC,1,6,6,9,9

-Lectures
-Format: course:weeks;day,time,place
-weeks should be 0 if the lecture should be repeated every week (eg: tts:0;Monday,14,lt3 -> lecture tts will happen every Monday at 14 in lt3)
-else weeks should be a list of numbers separated by a comma (eg: tts:1,3;Monday,14,lt3 -> lecture tts will happen in weeks 1 and 3 Monday at 14 in lt3)
!lt cg:1,2;Monday,10,lt1
!lt tts:0;Monday,12,lt3
!lt ds:0;Monday,9,lt2
!lt tts:0;Tuesday,12,lt2
!lt cg:0;Monday,15,lt1

-Assignments
-Format: course:assignmentnumber,startweek,startday,starttime,endweek,endday,endtime,workhours
-If startday AND weekday are 0, this assignment will be repeated every week (please ensure that both are 0 and that the assignment is contained within a week)
!la cg:1,1,Monday,16,1,Wednesday,10,3
!la tts:1,1,Monday,3,1,Tuesday,15,8
!la ds:2,1,Tuesday,10,1,Thursday,10,4



-Agents 
-Format: type,label,colour
-type should be the same as specified in .asl 
-label should be a short name to appear on screen (2-3 characters)
-colour should be an allowed Java Color name - see Java Color API)
!ac studiousStudent,sS,green
!ac carefreeStudent,cS,red
!ac balancedStudent,bS,blue
!ac lecturer,L,yellow

-Agent groups
-Format: groupname:list
-list should be a list of students separated by a comma
,!ag lecturers:lecturer1,lecturer2

-Course groups
-Format: groupname:list
-list should be a list course names separated by a comma
!cg ug4:cg,ds,tts

-Agent courses 
-Format: agentname:courses 
-agentname can be an agent group
-courses can be a courses group
-courses should be a list of course names separated by a comma
!al studiousStudent:ds,cg
!al balancedStudent:ug4
!al carefreeStudent:tts,ds,cg
!al lecturer:tts,ds

-Custom events
-Format: agentname:eventname,startweek,startday,starttime,endweek,endday,endtime,location,priority
-agentname can be an agent group
-If startday AND weekday are 0, this assignment will be repeated every week (please ensure that both are 0 and that the assignment is contained within a week)
-priority is an optional parameter (if it is not specified, it will take the default value specified in the next section)
,!ce studiousStudent:job,1,Thursday,14,2,Monday,17,out
,!ce studiousStudent:party,1,Monday,9,1,Monday,12,b1
,!ce balancedStudent:party,1,Monday,15,1,Monday,17,b1
,!ce balancedStudent:interview,1,Monday,10,1,Monday,12,out
,!ce carefreeStudent:party,1,Monday,12,1,Monday,15,b1,1
,!ce lecturer:meeting1,1,Monday,9,1,Monday,15,b1,3

-Event default priorities (will be used if not specified above)
!ep lecture:2
!ep interview:1
!ep party:2
!ep job:1
